@import "tailwindcss";
@plugin "daisyui";

@layer base {
  ul {
    list-style: disc;
  }
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar styling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}