@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@layer base {
  :root {
    --color-info: rgb(25,168,221);
    --color-info-content: #fff;
    --color-success: rgba(3, 206, 142, 1);
    --color-success-content: #fff;
    --color-warning: rgb(255, 167, 0);
    --color-warning-content: #000;
    --color-error: rgb(235, 32, 67);
    --color-error-content: #fff;
  }

  ul {
    list-style: disc;
    margin-left: 1.5rem;
  }
}

@layer utilities {
  .text-success {
    color: #077c09;
  }
}

html {
  scroll-behavior: smooth;
}

/* Scrollbar styling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}